@charset "UTF-8";
:root {
  --backСolor: #181313;
  --mainСolor: #34c300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backСolor);
  color: var(--mainСolor);
}

.nav {
  position: fixed;
  right: 2%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  z-index: 100;
}
.nav a {
  height: 15px;
  width: 15px;
  background-color: #2b9206;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.nav a::before, .nav a::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.nav a::before {
  background-color: unset;
  top: -7px;
  left: -7px;
}
.nav a.active {
  box-shadow: 0 0 4px var(--mainСolor), 0 0 8px var(--mainСolor), 0 0 16px var(--mainСolor);
  background-color: #1dff00;
}

section {
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#section1 {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.foto {
  width: 100%;
  height: 92%;
  position: relative;
}

.perform {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.dopInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  align-items: flex-end;
}
.dopInfo div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contacts a {
  display: flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
  transition: box-shadow 0.3s, fill 0.3s, text-shadow 0.3s, color 0.3s;
}
.contacts a:hover {
  color: #1dff00;
  text-shadow: 0px 0px 4px #00ff09, 0px 0px 8px #00ff09, 0px 0px 16px #00ff09;
}
.contacts a:hover svg {
  fill: #1dff00;
  box-shadow: 0px 0px 4px #00ff09, 0px 0px 8px #00ff09, 0px 0px 16px #00ff09;
}

.my-skills {
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
  box-shadow: inset 0 0 2px var(--backСolor), inset 0 0 4px var(--backСolor), inset 0 0 8px var(--backСolor);
  background: linear-gradient(to top, var(--backСolor), var(--mainСolor), var(--backСolor));
  border-radius: 40px;
}

.my-skills__content {
  display: flex;
  width: 200%;
  flex-direction: row;
  height: 100%;
  align-items: center;
  animation: slide 110s linear infinite;
}
.my-skills__content span {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.my-skills__content span a {
  margin-left: 20px;
}
.my-skills__content span a img {
  height: 50px;
  width: 50px;
}
.my-skills__content:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.line {
  border: 1px solid var(--mainСolor);
  width: 80%;
  position: absolute;
  top: 10px;
  border-radius: 1px;
  box-shadow: 0 0 4px var(--mainСolor), 0 0 8px var(--mainСolor), 0 0 16px var(--mainСolor);
}

.icons {
  fill: #2b9206;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.BRR {
  border: 2px solid #ff0000;
}

.BRB {
  border: 2px solid #001eff;
}

.BRG {
  border: 2px solid #3cff00;
}/*# sourceMappingURL=index.css.map */