:root {
  --backСolor: #181313;
  --mainСolor: #34c300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backСolor);
  color: var(--mainСolor);
}

.nav {
  position: fixed;
  right: 2%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  z-index: 100;

  a {
    height: 15px;
    width: 15px;
    background-color: #2b9206;
    border-radius: 50%;

    position: relative;
    display: inline-block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    &::before {
      background-color: unset;
      top: -7px;
      left: -7px;
    }

    &.active {
      box-shadow: 0 0 4px var(--mainСolor), 0 0 8px var(--mainСolor),
        0 0 16px var(--mainСolor);
      background-color: #34c300;
    }
  }
  // }
}
section {
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#section1 {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.foto {
  width: 100%;
  height: 92%;
}

.my-skills {
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
  box-shadow: inset 0 0 2px var(--backСolor), inset 0 0 4px var(--backСolor),
    inset 0 0 8px var(--backСolor);
  background: linear-gradient(
    to top,
    var(--backСolor),
    var(--mainСolor),
    var(--backСolor)
  );
  border-radius: 40px;
}
.my-skills__content {
  display: flex;
  width: 200%;
  flex-direction: row;
  height: 100%;
  align-items: center;
  animation: slide 110s linear infinite;
  span {
    display: flex;
    flex-direction: row;
    width: 100%;
    a {
      margin-left: 20px;
      img {
        height: 50px;
        width: 50px;
      }
    }
  }
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.line {
  border: 1px solid var(--mainСolor);
  width: 80%;
  position: absolute;
  top: 10px;
  border-radius: 1px;
  box-shadow: 0 0 4px var(--mainСolor), 0 0 8px var(--mainСolor),
    0 0 16px var(--mainСolor);
}
