@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

:root {
  --bg-color: #000033;
  --primary-color: #00ff9d;
  --icon-color: #34c300;
  --secondary-color: #ff00ff;
  --accent-color: #ffff00;
  --text-color: #d0fbd0;
  --dark-bg: #0a0a2ab3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// общие
.lineSection {
  display: block;
  border: 1px solid var(--accent-color);
  width: 100%;
  border-radius: 1px;
  box-shadow: 0 0 4px var(--accent-color), 0 0 8px var(--accent-color),
    0 0 16px var(--accent-color);
  margin-bottom: 1em;
}

.icons {
  fill: var(--icon-color);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 2rem;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
  background-color: #00030b;
}

// фоновое изображени
.cyber-bg-img {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  z-index: -1;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}

// фоновая анимация
.cyber-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  background: linear-gradient(
        to right,
        var(--primary-color) 1px,
        transparent 1px
      )
      0 0 / 20px 20px,
    linear-gradient(to bottom, var(--primary-color) 1px, transparent 1px) 0 0 /
      20px 20px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
        circle at 50% 50%,
        var(--secondary-color),
        transparent 50%
      ),
      radial-gradient(circle at 10% 10%, var(--accent-color), transparent 30%);
    opacity: 0.1;
  }
}

.my-skills__content {
  display: flex;
  width: 200%;
  flex-direction: row;
  height: 100%;
  align-items: center;
  animation: slide 100s linear infinite;
  span {
    display: flex;
    flex-direction: row;
    width: 100%;
    a {
      margin-left: 20px;
      img {
        height: 50px;
        width: 50px;
      }
    }
  }
  &:hover {
    animation-play-state: paused;
  }
}

.headrProfPhoto {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:hover {
    box-shadow: 0 0 10px rgba(184, 0, 255, 0.7);
    border: 1px solid #0019a1;
  }
  button {
    position: absolute;
    top: 2%;
    right: 3%;
    height: 21px;
    width: 31px;
    background-color: rgba(0, 255, 157, 0.1);
    color: var(--primary-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    &:hover {
      background-color: var(--primary-color);
      color: #b300ff;
      box-shadow: 0 0 10px rgba(184, 0, 255, 0.7);
      border: 1px solid #a10066;
    }
  }
}
.profile-photo {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--primary-color);
  box-shadow: 0 0 20px rgba(0, 255, 157, 0.5);
  position: relative;
  z-index: 100;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: hue-rotate(120deg) brightness(110%) contrast(110%);
}

.profile-photo::before {
  content: "";
  position: absolute;
  opacity: 0.15;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(from 0deg, transparent, #ff0000, transparent 30%);
  animation: rotateHolo 10s linear infinite;
}

@keyframes rotateHolo {
  100% {
    transform: rotate(360deg);
  }
}

.name {
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  letter-spacing: 3px;
}

.title {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  // text-transform: uppercase;
  letter-spacing: 2px;
}

.intro {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  text-shadow: 0 0 5px rgba(224, 255, 224, 0.5);
}

section {
  background-color: var(--dark-bg);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 157, 0.3);
  background: linear-gradient(
    135deg,
    rgba(28, 31, 79, 0.26),
    rgba(174, 174, 174, 0.1)
  );
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.168627451);

  &:hover {
    box-shadow: 0 0 10px rgba(184, 0, 255, 0.7);
    border: 1px solid #0019a1;
  }
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: var(--primary-color);

  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.skilRunLine {
  grid-column: 1 / 4;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(
    to top,
    #18131300,
    rgba(1, 12, 115, 0.7019607843),
    #18131300
  );
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill {
  background-color: rgba(0, 255, 157, 0.1);
  color: var(--primary-color);
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.9rem;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--primary-color);
    color: #00bcff;
    box-shadow: 0 0 10px rgb(184 0 255 / 70%);
    border: 1px solid #0019a1;
  }
}

.experience-item,
.education-item {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--secondary-color);
}

.experience-item h3,
.education-item h3 {
  font-size: 1.1rem;
  color: var(--secondary-color);
  margin-bottom: 0.3rem;
}

.date {
  font-size: 0.9rem;
  color: var(--accent-color);
  margin-bottom: 0.3rem;
  font-style: italic;
}

.projects-grid,
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.project-item,
.work-item {
  background-color: rgba(0, 255, 157, 0.05);
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.project-item:hover,
.work-item:hover {
  box-shadow: 0 0 10px rgba(184, 0, 255, 0.7);
  border: 1px solid #0019a1;
}

.project-title,
.work-title {
  font-size: 1.1rem;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.project-description,
.work-description {
  font-size: 0.9rem;
}

.work-item {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
}

.work-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 10, 42, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.work-item:hover .work-overlay {
  height: 100%;
}

.work-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact-item i {
  color: var(--accent-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  gap: 10px;
}

a:hover {
  color: var(--secondary-color);
  text-shadow: 0 0 5px rgba(127, 255, 0, 0.7);
}

#header-content {
  grid-area: header-content;
}

#headrProfPhoto {
  grid-area: headrProfPhoto;
}
#skills {
  grid-area: skills;
}
#experience {
  grid-area: experience;
}
#education {
  grid-area: education;
}
#projects {
  grid-area: projects;
}
#works {
  grid-area: works;
}
#contact {
  grid-area: contact;
}

.container {
  grid-template-areas:
    "header-content header-content headrProfPhoto"
    "skilRunLine skilRunLine skilRunLine"
    "skills experience projects"
    "education works works"
    "contact works works";
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "headrProfPhoto"
      "header-content"
      "skilRunLine"
      "skills"
      "experience"
      "education"
      "projects"
      "works"
      "contact";
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  .header-content {
    max-width: 100%;
  }
  .skilRunLine {
    grid-column: 1;
  }

  .profile-photo {
    margin-bottom: 1rem;
  }
}

.nav {
  position: fixed;
  right: 2%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  z-index: 100;

  a {
    height: 15px;
    width: 15px;
    background-color: #2b9206;
    border-radius: 50%;

    position: relative;
    display: inline-block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    &::before {
      background-color: unset;
      top: -7px;
      left: -7px;
    }

    &.active {
      box-shadow: 0 0 4px var(--icon-color), 0 0 8px var(--icon-color),
        0 0 16px var(--icon-color);
      background-color: var(--icon-color);
    }
  }
}
// ====================================================================

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.command-line {
  position: relative;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.command-line::before {
  content: ">";
  position: absolute;
  left: 0;
  top: 0;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: #00ff00;
  animation: blink 0.7s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
